* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: arial;
  color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 235, 235);
}

h1 {
    font-size: 3rem;
    color: #1e2337;
    padding: 20px;
}

.question {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid rgb(236, 235, 235);
    background-color: #1e2337;

}

.reponse {
    color: #1e2337;
    background-color: rgb(236, 235, 235);
    padding: 3rem;
    display: none;
    border: 1px solid #1e2337;
}

.visible {
    display: block;
}